##ITERATORS

In [ ]:
list1 = [1, 2, 3]
iterator = iter(list1)
t = tuple(iterator)
print(t)

(1, 2, 3)

In [ ]:
list1 = [1, 2, 3]
iterator = iter(list1)
a, b, c = iterator
print(a, b, c)

1 2 3

In [ ]:
month = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May"}
key = 5
for key in month:
  print(key, month[key])

1 Jan
2 Feb
3 Mar
4 Apr
5 May

In [ ]:
places = [("Italy", "Rome"), ("France", "Paris"), ("England", "London")]
dict(iter(places))      # iter() on dict loops over the keys of the dict

{'Italy': 'Rome', 'France': 'Paris', 'England': 'London'}

## List Compression and Generators

In [ ]:
set1 = "abc"
set2 = (1,2,3)
resultSet = [(x, y) for x in set1 for y in set2]
print(resultSet)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [ ]:
def generate_ints(n):
  for i in range(n):
    yield i

gen = generate_ints(3)
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

2

In [ ]:
# next(gen)  # StopIteration Error

## as it as generated 3 int values