In [ ]:
### Iterator - it is an object representing a steam of data, this object returns one element at a time

## next() - it is a method that takes no arguments and returns the next element of the steam
## if there are no more elements in steam, it raises a 'StopIteration' error

## iter() method takes the datatypes such as lists, tuple or dictionaries and returns its elements

In [ ]:
L = [1, 2, 3]
it = iter(L)
it

In [ ]:
type(it)

list_iterator

In [ ]:
print(next(it))

1

In [ ]:
next(it)

2

In [ ]:
next(it)

3

In [ ]:
next(it)

StopIteration: ignored

In [ ]:
newIter = iter(L)
for i in newIter:
  print(i)

1
2
3

In [ ]:
## materilizing the iterators

L2 = [10, 20, 30]
it = iter(L2)
itList = list(it)
print(itList)

[10, 20, 30]

In [ ]:
it = iter([9,4,5])
itTuple = tuple(it)
print(itTuple)

(9, 4, 5)

In [ ]:
## sequence unpacking

nums = [14, 16, 19]
a, b, c = iter(nums)
print(a, b, c)

14 16 19

In [ ]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5,
     'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
months = m.items()
for i in months:
  print(i)

('Jan', 1)
('Feb', 2)
('Mar', 3)
('Apr', 4)
('May', 5)
('Jun', 6)
('Jul', 7)
('Aug', 8)
('Sep', 9)
('Oct', 10)
('Nov', 11)
('Dec', 12)

In [ ]:
# list comprehension

nums = [2, 4, 6]
[2*i for i in nums]

[4, 8, 12]

In [ ]:
country = [('France', 'Paris'), ('Italy', 'Rome'), ('Spain', 'Madrid')]
dict(iter(country))

{'France': 'Paris', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [ ]:
# strip() - strips/removes all the whitespaces from the strings in the iterators

fruits = ['Apple   ', '  Orange', '  Banana   ']

stripped_FruitList = [line.strip() for line in fruits]
stripped_FruitList

['Apple', 'Orange', 'Banana']

In [ ]:
# Generator expressions are surrounded by parentheses (“()”)
# and list comprehensions are surrounded by square brackets (“[]”).

# any function containing a yield keyword is a generator function


def generate_ints(N):
  for i in range(N):
    yield i

gen = generate_ints(3)
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

2

In [ ]:
next(gen)

StopIteration: ignored

In [ ]:
## map(func, iterator)

def upper(s):
  return s.upper()

newList = list(map(upper, ['eva 01', 'eva 02']))
newList

['EVA 01', 'EVA 02']

In [ ]:
[upper(item) for item in newList]

['EVA 01', 'EVA 02']

In [ ]:
## filter()

def isEven(x):
    return x%2 == 0

list(filter(isEven, range(10)))

[0, 2, 4, 6, 8]

In [ ]:
## enumerate

for item in enumerate(['A', 'B', 'C']):
  print(item)

(0, 'A')
(1, 'B')
(2, 'C')

In [ ]:
newList = [99, 21, 14, 5, 16]
sorted(newList)

[5, 14, 16, 21, 99]

In [ ]:
sorted(newList, reverse=True)

[99, 21, 16, 14, 5]

In [ ]:
# any() returns True if any element in the iterable is a true value

any([0, 0, 1])

True

In [ ]:
# all() returns True if all of the elements are true values

all([0, 0, 0])

False

In [ ]:
all([1, 1, 1, 1])

True

In [ ]:
# zip(iterA, iterB, ...) takes one element from each iterable and returns them in a tuple:

list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

list(zip(list1, list2))

[('a', 1), ('b', 2), ('c', 3)]